<h2>Hey, <%= @investor.username %>!</h3>

<section>
    <h3> Account Balance: <% if  @investor.orders.last != nil %>
                            <%= @investor.new_balance %> 
                          <% else %>
                            <%= @investor.account_balance %>
                          <% end%>
    </h3>
    
    <h4> Orders: </h4>
    <% @investor.orders.each do |order| %>
        <a href="/orders/<%= order.id %>"> <%= order.order_name %></a><br>
    <% end %>
    <p><a href='/orders/new'>New Order</a></p>
    <p><a href='/stocks'>Stocks</a></p>
</section>