<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="text-center">
        <% if flash.has?(:notice) %>
            <div class="text-center">
                <h6><%= flash[:notice] %></h6>
            </div>
        <% end %>
            <h3> Order Name: <%= @order.order_name %> </h3>
            <h4> Shares: <%= @order.stocks.count %> </h4>
            <h5> Shares Amount: $<%= @order.order_total.round(2) %> </h5>
        </div>

        <div class="text-center">
            <button class="btn"><a href='/orders/<%= @order.id %>/edit'>Sell shares</a></button>
            <form method="post" action="/orders/<%= @order.id %>">
  			    <input id="hidden" type="hidden" name="_method" value="DELETE">
                <button class="btn btn-warning" type="submit">Delete order</button><br>
		    </form>
            <button class="btn btn-dark"><a href='/account'>Account</a></button>
        </div>
    </body>
</html>







